<h1 id="currTime"></h1>

<h2>Calculate Fibonacci Number</h2>

<form action="/" method="post">
  <label>Number</label>
  <input name="num" type="number" />
  <input type="submit" />
</form>

<h3>Ans : {{fib}}</h3>
<h3>Duration : {{duration}} ms</h3>

<script>
  document.getElementById('currTime').innerHTML = new Date("{{time}}").toLocaleString();
</script>